<h1 mat-dialog>{{data.dialog.confirm}}</h1>


<mat-dialog-content>
    <app-address [address]="data.address"></app-address>

    <p>{{data.dialog.verify}}</p>
    <mat-form-field>
        <mat-label>{{data.dialog.primaryId}}</mat-label>
        <input autocomplete="off" matInput placeholder="e.g. 12345678" name="line4" [(ngModel)]="userId" #verification="ngModel">
    </mat-form-field>

    <mat-error *ngIf="userId!=data.userId && verification.touched">{{data.dialog.idsNotMatch}}</mat-error>


</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf="userId==data.userId" mat-flat-button mat-dialog-close mat-dialog-close="true" color="primary">{{data.dialog.confirm}}</button>

    <button mat-flat-button mat-dialog-close mat-dialog-close="false" color="secondary">{{data.dialog.cancel}}</button>
</mat-dialog-actions>