<form #form=ngForm>
    <div class="eca-actions">
        
        <button mat-flat-button [routerLink]="['/']" color="secondary">{{data.language.home}}</button>
        <button mat-flat-button [routerLink]="['/contactinfo',userLink]" color="secondary">{{data.language.back}}</button>
        <button mat-flat-button color="primary" (click)="update(email)" *ngIf="action=='Edit'" [disabled]="form.invalid">{{data.language.save}}</button>
        <button mat-flat-button color="primary" (click)="add(email)" *ngIf="action=='Add'">{{data.language.save}}</button>
    </div>

    <mat-card>
        <mat-card-header color="primary">
            <mat-card-title>{{data.language[action]}} </mat-card-title>
            <mat-card-subtitle>{{userData.full_name}} ({{userData.primary_id}})</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input required email matInput placeholder="email" name="email_address" [(ngModel)]="email.email_address" #email_address="ngModel">
                <mat-error *ngIf="email_address.errors?.required">
                    {{data.language.errors.required}}
                </mat-error>
                 <mat-error *ngIf="email_address.errors?.email && !email_address.errors?.required">
                      {{data.language.errors.email}}
                </mat-error>
            </mat-form-field>

          

        </mat-card-content>


    </mat-card>

</form>

