  <h1>{{data.language.select_user}}</h1>

<ng-container 
  *ngIf="(entities$ | async)?.length > 0; then entities; else noentities"
  ></ng-container>



<ng-template #entities>
  <mat-list>
    <mat-list-item *ngFor="let entity of entities$ | async" >
        <a [routerLink]="['contactinfo',entity.link]"> {{entity.description}}</a>
    </mat-list-item>
  </mat-list>
</ng-template>

<ng-template #noentities>
  Please navigate to user records.
</ng-template>

<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<footer>
   
    <button *ngIf="data.language.language!='Czech'" mat-flat-button (click)="data.switchLanguage('czech')">Czech</button>
    
    <button *ngIf="data.language.language!='English'" mat-flat-button (click)="data.switchLanguage('english')">English</button>
</footer>