:host{
      display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width:100%;
    justify-content: space-between
}

mat-panel-title, mat-panel-description{
        display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-overflow:ellipsis;
        overflow: hidden;
    max-width:40%;
}

.entities-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

textarea {
  padding: 2px;
  border-width: 1px;
  $width: calc(100% - 6px);
  width: $width;
  max-width: $width;
  height: 150px;
  font-family: monospace;
  display: block;
}

textarea,
section,
.mat-card {
  margin-bottom: 20px;
}

pre {
  overflow: auto;
  max-height: 200px;
  white-space: pre-wrap;
  word-break: break-all;
}

pre,
textarea {
  font-size: 0.9em;
}

mat-expansion-panel{
    width:100%;
}

.mat-content{
        align-items: center ! important;
}

footer {
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    position:inherit ! important;
    bottom:0;
    margin-top:2em;
}

mat-card div{
    flex-flow: column nowrap;
align-items: center;
display: flex;
}