<div class="eca-actions">
    <button mat-flat-button [routerLink]="['/']" color="secondary">Home</button>
</div>

<h1>{{userData.full_name}} ({{userData.primary_id}})</h1>



<mat-card *ngIf="suggestedGroups.length>0 || suggestedNoteRemovals.length>0">

    <p>
     Skupina: <b>{{userData.user_group.desc}}</b>
</p>
    
<div *ngIf="suggestedGroups.length>0">
 
    
  
    
    
    <mat-form-field >
  <mat-label>Udělit výjimku</mat-label>
  <mat-select [(ngModel)]="selectedException" name="selectedException">
   
    <mat-option *ngFor="let g of suggestedGroups"  [value]="g">{{g.exception}} </mat-option>

  </mat-select>
</mat-form-field><br/>

    <button mat-flat-button color="secondary" (click)="addException(selectedException)">Potvrdit</button>
  
      
   
</div>


<div *ngIf="suggestedNoteRemovals.length>0">
    <p>
  
        Udělena výjimka:<b> {{suggestedNoteRemovals[0]}}</b> <br/>
    </p>
    
    
 

    <button mat-flat-button color="secondary" *ngFor="let r of suggestedNoteRemovals" (click)="removeException(r)">Odebrat</button>
 
</div>

</mat-card>

<h2>{{data?.language?.addresses}}</h2>



<ng-container *ngIf="addresses.length>0">

    <mat-expansion-panel *ngFor="let a of addresses" hideToggle="true">
        <mat-expansion-panel-header >
            <mat-panel-title>
                 {{a.address.line1}}
            </mat-panel-title>
            <mat-panel-description>
             -
                    <span *ngFor="let type of a.address.address_type" color="primary">
                        {{type.desc}}-
                    </span>
            

            </mat-panel-description>

            <button mat-icon-button aria-label="edit" (click)="redirectToEdit(a.index, 'address')" >
                <mat-icon>edit</mat-icon>
            </button>
        </mat-expansion-panel-header>
        <app-address [address]="a.address"></app-address>

{{a.segment_type}}
    </mat-expansion-panel>


</ng-container>

<h2>{{data?.language?.emails}}</h2>

<ng-container *ngIf="emails.length>0">

    <mat-expansion-panel *ngFor="let e of emails" hideToggle="true">
        <mat-expansion-panel-header >
            <mat-panel-title>
                 {{e.address.email_address}}
            </mat-panel-title>
            <mat-panel-description>
             -
                    <span *ngFor="let type of e.address.email_type" color="primary">
                        {{type.desc}}-
                    </span>
            

            </mat-panel-description>

            <button mat-icon-button aria-label="edit" (click)="redirectToEdit(e.index, 'email')" >
                <mat-icon>edit</mat-icon>
            </button>
        </mat-expansion-panel-header>
        <app-address [address]="e.address"></app-address>

    </mat-expansion-panel>


</ng-container>

<h2>{{data?.language?.phones}}</h2>

<ng-container *ngIf="phones?.length>0">

    <mat-expansion-panel *ngFor="let p of phones" hideToggle="true">
        <mat-expansion-panel-header >
            <mat-panel-title>
                 {{p.address.phone_number}}
            </mat-panel-title>
            <mat-panel-description>
             -
                    <span *ngFor="let type of p.address.phone_type" color="primary">
                        {{type.desc}}-
                    </span>
            

            </mat-panel-description>

            <button mat-icon-button aria-label="edit" (click)="redirectToEdit(p.index, 'phone')" >
                <mat-icon>edit</mat-icon>
            </button>
        </mat-expansion-panel-header>
        <app-address [address]="p.address"></app-address>

    </mat-expansion-panel>


</ng-container>





<footer>
   
    <button *ngIf="data.language.language!='Czech'" mat-flat-button (click)="data.switchLanguage('czech')">Czech</button>
    
    <button *ngIf="data.language.language!='English'" mat-flat-button (click)="data.switchLanguage('english')">English</button>
</footer>