<div class="eca-actions">
    <button mat-flat-button [routerLink]="['/']" color="secondary">Home</button>
</div>

<h1>{{userData.full_name}} ({{userData.primary_id}})</h1>
<h2>Addresses</h2>
<ng-container *ngIf="userData?.contact_info?.address">

    <mat-expansion-panel *ngFor="let a of userData.contact_info.address; let i = index" hideToggle="true">
        <mat-expansion-panel-header >
            <mat-panel-title>
                <span class="uxf-icon uxf-check" *ngIf="a.preferred"></span>   {{a.line1}}
            </mat-panel-title>
            <mat-panel-description>
                <mat-chip-list class="mat-chip-list-stacked" aria-label="Address types">
                    <mat-chip *ngFor="let type of a.address_type" color="primary">
                        {{type.desc}}
                    </mat-chip>
                </mat-chip-list>

            </mat-panel-description>

            <button mat-icon-button aria-label="edit" (click)="redirectToEdit(i)" [disabled]="allowEdit(a)">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-expansion-panel-header>
        <app-address [address]="a"></app-address>

{{a.segment_type}}
    </mat-expansion-panel>


</ng-container>


<button mat-icon-button aria-label="add" color="primary" (click)="redirectToAdd()" [disabled]="allowAdding()">
    <span class="uxf-icon uxf-plus-circle"></span>
</button>



<footer>

</footer>